<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Pokédex - Project 2 - Blue</title>
  </head>
  <body>
    <nav>
      <img src="./img/pokedex-logo.png" alt="" />
      <li><a href="register">Register your Pokemon</a></li>

      <li><a href="#list">Pokemons</a></li>
    </nav>

    <div>
      <h2>Pokemon List</h2>
    </div>
    <section id="list">
      <% pokedex.forEach((pokemon) => { %>
      <div class="card">
        <h3><%=pokemon.id%> - <%= pokemon.name %></h3>
        <img src="<%= pokemon.img %>" alt="" />
        <p class="spec">CATEGORY: <%= pokemon.category %></p>
        <p class="spec">DESCRIPTION: <%= pokemon.description %></p>

        <a id="details" href="/details/<%= pokemon.id %>">DETAILS</a>
        <a id="delete" href="/delete/<%= pokemon.id %>">DELETE POKEMON</a>
      </div>
      <% }) %>
    </section>

    <footer>
      <p>All rights reserved &copy;</p>
      <p>
        Data collected from
        <a target="_blank" href="https://www.pokemon.com/br/pokedex/"
          >Pokédex</a
        >
      </p>
    </footer>
  </body>
</html>
